<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Thesis for the 
  <a href="http://www.teicrete.gr/ie/en/"><em>Department of Informatics
  Engineering of TEI Crete</em></a>
  <br>
  Supervised by:
  <a href="http://www.teicrete.gr/ie/en/costis/">Proffessor Costis Aivalis</a>
  <br>
  Created by Michael Kampourakis using
  <a href="http://rubyonrails.org/">Ruby on Rails framework</a>
</p>
  