<div class="center jumbotron">
<h1>Welcome to Iatreio on-line!</h1>
<h2>
  This is the home page for the
  Ruby on Rails doctor appointment application.
</h2>
<% if logged_in? %>
<%= link_to "Book an appointment", '#', class: "btn btn-lg btn-primary" %>
<% else %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>