<h1>Iatreio on-line</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Iatreio on-line! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
Exercises