<li id="appointment-<%= appointment.id %>">
  <%= link_to gravatar_for(appointment.user, size: 50), appointment.user %>
  <span class="user"><%= link_to appointment.user.name, appointment.user %></span>
  <span class="date"><p>Date:</p><%= appointment.date %></span>
  <span class="starts_at"><p>Time:</p>
  </span>
  <span class="timestamp">
    Booked <%= time_ago_in_words(appointment.created_at) %> ago.
  </span
</li>